.x-form-multiselect-body .x-boundlist .x-mask {
    background: none;
}
.x-form-itemselector-body .x-form-item {
    margin: 0;
}
.x-form-itemselector-add {
    background-image: url(images/right2.gif);
}
.x-form-itemselector-remove {
    background-image: url(images/left2.gif);
}
