
.icon-edit{ 
	background-image: url(images/edit.png) !important;
}
.icon-zindex{ 
	background-image: url(images/zindex.png) !important;
}
.icon-toback{
	background-image: url(images/toBack.png) !important;
}
.icon-bringfront{
	background-image: url(images/bringFront.png) !important;
}
.icon-copy{
	background-image: url(images/copy.png) !important;
}
.icon-cut{
	background-image: url(images/cut.png) !important;
}
.icon-resize{ 
	background-image: url(images/resize.png) !important;
}
.icon-close{ 
	background-image: url(images/close.png) !important;
}
.icon-visible{
	background-image: url(images/visible.png) !important;
}
.icon-hidden{
	background-image: url(images/hidden.png) !important;
}
