.icon-widget-chart {
	background-image: url(images/chart.png) !important;
}
.icon-widget-button{
	background-image: url(images/button.png) !important;
}
.icon-widget-image{
	background-image: url(images/image.png) !important;
}
.icon-widget-htmltext{
	background-image: url(images/text.png) !important;
}
.icon-widget-datatable{
	background-image: url(images/table.png) !important;
}