.dashboard-title {
	color:#444 !important;		
	font-weight:bold !important;
	line-height: 2em !important;
	font-size: 1.5em !important;
	top: 0px !important;
}

.icon-viewer-save{
	background-image: url(images/viewersave.png) !important;
}
.icon-viewer-save-dirty{
	background-image: url(images/viewersavedirty.png) !important;
}
.icon-viewer-config {
	background-image: url(images/viewerconfig.png) !important;
}
